body{
    color:rgb(16, 248, 167);
    
    text-align: center;
    background: rgb(136, 4, 251);

    
    }
    header{
font-size: 100px;

color:rgb(16, 248, 167);
    }

    section{
font-size: 25px;
color:rgb(8, 8, 8);

    }